<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>


    <display-name>Archetype Created Web Application</display-name>



    <servlet>
        <servlet-name>freemarker</servlet-name>
        <servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>

        <!-- FreemarkerServlet settings: -->
        <init-param>
            <param-name>TemplatePath</param-name>
            <param-value>/</param-value>
        </init-param>
        <init-param>
            <param-name>NoCache</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>ContentType</param-name>
            <param-value>text/html; charset=UTF-8</param-value>
            <!-- Forces UTF-8 output encoding! -->
        </init-param>

        <!-- FreeMarker settings: -->
        <init-param>
            <param-name>template_update_delay</param-name>
            <param-value>0</param-value>
            <!-- 0 is for development only! Use higher value otherwise. -->
        </init-param>
        <init-param>
            <param-name>default_encoding</param-name>
            <param-value>UTF-8</param-value>
            <!-- The encoding of the template files. -->
        </init-param>
        <init-param>
            <param-name>number_format</param-name>
            <param-value>0.##########</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>freemarker</servlet-name>
        <url-pattern>*.ftl</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>basicAuthenticationFilter</filter-name>
        <filter-class>servlets.BasicAuthenticationFilter</filter-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>1</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>basicAuthenticationFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>basicAuthenticationFilter</filter-name>
        <url-pattern>/create</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>basicAuthenticationFilter</filter-name>
        <url-pattern>/update</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>basicAuthenticationFilter</filter-name>
        <url-pattern>/delete</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>basicAuthenticationFilter</filter-name>
        <url-pattern>/ptrp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>basicAuthenticationFilter</filter-name>
        <url-pattern>/ptrp/create</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>basicAuthenticationFilter</filter-name>
        <url-pattern>/ptrp/update</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>basicAuthenticationFilter</filter-name>
        <url-pattern>/ptrp/delete</url-pattern>
    </filter-mapping>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>FreeMarker MVC Views</web-resource-name>
            <url-pattern>*.ftl</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <!-- Nobody is allowed to visit these -->
        </auth-constraint>
    </security-constraint>
        </web-app>